body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    margin: 0px
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    color: #E5e7eb;
}

li {
    padding: 0px 0px 0px 12px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 0px 60px;
    justify-content: space-between;
}

.hero .text {
    font-size: 18px;
    color: #E5e7eb;
}

.hero .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.card {
    background-color: white;
}

.testimonial {
    background-color: #e5e7eb;
}

.CT {
    background-color: #3882F6;
}