body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    margin: 0px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    color: #E5e7eb;
}

li {
    padding: 0px 0px 0px 12px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 0px 200px;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0
}

.hero .text {
    font-size: 18px;
    color: #E5e7eb;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;
    margin-right: 20px;
}

.hero .left> * {
    margin: 0px; /* Removes margin from all children in the left hero section */
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.card .header {
    display: flex;
    justify-content: center;
}

.card .img{
    display: flex;
    justify-content: space-between;
}

.card .img>* {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 200px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}



.testimonial {
    background-color: #e5e7eb;
}

.CT {
    background-color: #3882F6;
}

.button {
    background-color: #3882F6;
    color: white;
    width: 80px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
